<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Your future bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Your past bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Your buildings</a>
  </li>
</ul>
