<div class="user-info">
  <h1>Hallo, <%= @user.first_name %></h1>
  <div class="user-details">
    <p>Your flat is <%= @user.flat.name %>.</p>
    <p>Your registered email is <%= @user.email %>.</p>
  </div>
</div>
