<ul class="nav nav-tabs header-profile-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Your future bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Your past bookings</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show styling-tab active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <p>test tab home</p>
  </div>
  <div class="tab-pane fade styling-tab" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <p>test tab profile</p>
  </div>
</div>
