<%= render 'header' %>
<p>House Caretaker? <%= @user.housecaretaker %></p>
<ul class="nav nav-tabs header-profile-tabs" id="myTab" role="tablist">
  <li class="nav-item profile-tabs">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Future bookings</a>
  </li>
  <li class="nav-item profile-tabs">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Past bookings</a>
  </li>
  <li class="nav-item profile-tabs">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Your flats</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show styling-tab active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <p>test tab home</p>
  </div>
  <div class="tab-pane fade styling-tab" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <p>test tab profile</p>
  </div>
  <div class="tab-pane fade styling-tab" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <% @flats.each do |flat| %>
      <ul class="list-buildings">
        <li><%= link_to flat.name, building_flat_path(@building, flat) %></li>
      </ul>
    <% end %>
    <%= link_to 'Create a flat', new_building_flat_path(@building), class: 'create-button' %>
  </div>
</div>
