// Styling all profiles
.styling-tab {
  padding: 25px;
}

.user-info {
  // margin-bottom: 20px;
}

.user-details {
  font-size: 14px;
  padding: 20px;
}

// Admin only
.list-buildings {
  padding: 0;
  list-style-type: none;
}
