// Styling all profiles
.styling-tab {
  padding: 25px;
}

.user-details {
  font-size: 14px;
  padding: 20px;
}

// Admin only
.list-buildings {
  padding: 0;
  list-style-type: none;
}

// Styling all profiles mobile
@media(max-width: $small-screen) {
  .profile-tabs {
    width: 30%;
    margin: 0;
  }
}

//Toggle content
.description {
  display: none;
}

.description.is-visible {
  display: block;
}
