<div class="navbar">
  <div class="logo">
    <img src="/Users/isabelleferrier/code/iferrier/spittacal/logo.svg" alt="logo">
  </div>
  <div class="elements-right">
    <div class="new-booking">
      <p>New booking</p>
    </div>
    <div class="my-profile">
      <p>My profile</p>
    </div>
  </div>
</div>
