<div class="navbar">
  <div class="logo">
    <%= cl_image_tag("logo_jqsvqh", width: 70, height: 70) %>
  </div>
  <div class="elements-right">
    <div class="new-booking">
      <p>New booking</p>
    </div>
    <div class="my-profile">
      <p>My profile</p>
    </div>
  </div>
</div>
