<div class="navbar">
  <div class="logo">
    <%= link_to image_tag("logo.svg"), root_path, { class: 'logo-navbar'} %>
  </div>
  <div class="elements-right">
    <div class="new-booking">
      <p>New booking</p>
    </div>
    <div class="my-profile">
      <p>My profile</p>
    </div>
  </div>
</div>
