<div class="navbar">
  <div class="logo">
    <%= link_to( image_tag("logo.svg"), root_path, class: 'logo-navbar' )%>
  </div>
  <div class="elements-right">
    <% if current_user %>
      <div class="my-profile">
        <%= link_to 'My profile', profile_path %>
      </div>
      <div class="new-session">
          <%= link_to 'Log out', destroy_user_session_path(current_user), method: :delete, class:"login" %>
      </div>
    <% else %>
      <div class="new-session">
          <%= link_to 'Log in', new_user_session_path, class:"login" %>
      </div>
    <% end %>
  </div>
</div>
