<h1>Welcome to <%= @building.name %></h1>

<div class="flats">
  <%= render 'flats/index', flats: @flats %>
</div>
<p><%= link_to 'Add a flat here', new_building_flat_path(@building) %></p>
<p><%= link_to 'Add a user here', new_building_user_path(@building) %></p>



