.crud-button {
  text-decoration: none;
  color: $custom-orange;
  &:hover {
    color: $custom-orange;
    text-decoration: underline;
  }
}

.create-button {
  text-decoration: none;
  color: $custom-pink;
  border: none;
  &:hover {
    color: $custom-pink;
    text-decoration: underline;
  }
}
