@media(min-width: $large-screen) {
// Styling calendar
  .simple-calendar {

    .day {
    }

    .wday-0 {}
    .wday-1 {
    }
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    .today {}
    .past {}
    .future {}

    .start-date {}

    .prev-month {}
    .next-month { }
    .current-month {
      background-color: white;
    }

    .has-events {}
    width: 700px;
    height: 600px;
    margin: 0 auto;
  }


// Styling header calendar
  .calendar-heading {
    margin: 0 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .calendar-title {
    font-size: 24px;
    color: $custom-blue;
    padding: 20px;
  }
}

@media(max-width: $desktop-screen) {

}

@media(max-width: $medium-screen) {

}

@media(max-width: $small-screen) {

}

