@media(min-width: $large-screen) {
// Styling calendar
  .simple-calendar {

    .day {
    }

    .wday-0 {}
    .wday-1 {
    }
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    .today {}
    .past {}
    .future {}

    .start-date {}

    .prev-month {}
    .next-month { }
    .current-month {
      background-color: white;
    }

    .has-events {}
    width: 700px;
    height: 600px;
    margin: 0 auto;
  }


// Styling header calendar
  .calendar-heading {
    a {
      font-size: 16px;
    }
    margin: 0 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .calendar-title {
    font-size: 24px;
    color: $custom-blue;
    padding: 20px;
  }
}

@media(max-width: $desktop-screen) {
  // Styling calendar
    .simple-calendar {

      .day {
      }

      .wday-0 {}
      .wday-1 {
      }
      .wday-2 {}
      .wday-3 {}
      .wday-4 {}
      .wday-5 {}
      .wday-6 {}

      .today {}
      .past {}
      .future {}

      .start-date {}

      .prev-month {}
      .next-month { }
      .current-month {
        background-color: white;
      }

      .has-events {}
      width: 550px;
      height: 400px;
      margin: 0 auto;
    }


  // Styling header calendar
    .calendar-heading {
      a {
        font-size: 14px;
      }
      margin: 0 10px 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .calendar-title {
      font-size: 22px;
      color: $custom-blue;
      padding: 15px;
    }
}

@media(max-width: $medium-screen) {
  // Styling calendar
    .simple-calendar {

      .day {
      }

      .wday-0 {}
      .wday-1 {
      }
      .wday-2 {}
      .wday-3 {}
      .wday-4 {}
      .wday-5 {}
      .wday-6 {}

      .today {}
      .past {}
      .future {}

      .start-date {}

      .prev-month {}
      .next-month { }
      .current-month {
        background-color: white;
      }

      .has-events {}
      width: 450px;
      margin: 0 auto;
    }


  // Styling header calendar
    .calendar-heading {
      a {
        font-size: 14px;
      }
      margin: 0 10px 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .calendar-title {
      font-size: 22px;
      color: $custom-blue;
      padding: 10px;
    }
}

@media(max-width: $small-screen) {
  // Styling calendar
    .simple-calendar {

      .day {
      }

      .wday-0 {}
      .wday-1 {
      }
      .wday-2 {}
      .wday-3 {}
      .wday-4 {}
      .wday-5 {}
      .wday-6 {}

      .today {}
      .past {}
      .future {}

      .start-date {}

      .prev-month {}
      .next-month { }
      .current-month {
        background-color: white;
      }

      .has-events {}
      width: 260px;
      margin: 0 auto;
      .table {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 260px;
      }
    }


  // Styling header calendar
    .calendar-heading {
      a {
        font-size: 14px;
      }
      margin: 0 10px 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .calendar-title {
      font-size: 22px;
      color: $custom-blue;
      padding: 10px;
    }

}

