// styling navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: sticky;
  height: 90px;
  border-bottom: 2px solid $custom-orange;
}

// styling logo
.logo {
  margin-left: 20px;
}


// Styling buttons
.elements-right {
  display: flex;
}

.new-session {
  a {
    text-decoration: none;
    color: $custom-pink;
  }
  a:hover {
    color: $custom-pink;
    text-decoration: underline;
  }
  margin: 0 25px;
  font-size: 20px;
}

.my-profile {
  a {
    color: $custom-yellow;
    font-size: 20px;
    padding-top: 16px;
  }
  a:hover {
    color: $custom-yellow;
    text-decoration: underline;
  }
  margin: 0 25px;
}

.logo-navbar {
  img {
    height: 70px;
    width: 70px;
  }
}
