// styling navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: sticky;
  height: 90px;
  border-bottom: 2px solid $custom-orange;
}

// styling logo
.logo {
  margin-left: 20px;
}


// Styling buttons
.elements-right {
  display: flex;
}

.new-booking {
  color: $custom-pink;
  margin: 0 25px;
  font-size: 20px;
  padding-top: 16px;
}

.my-profile {
  color: $custom-yellow;
  margin: 0 35px 0 25px;
  font-size: 20px;
  padding-top: 16px;
}

.logo-navbar {
  height: 70px;
  width: 70px
}
