// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: $custom-blue;
  }
}

@media(min-width: $large-screen) {
  .application-container {
    margin: 50px 100px;
  }
}

@media(max-width: $desktop-screen) {
  .application-container {
    margin: 50px 70px;
  }
}

@media(max-width: $medium-screen) {
  .application-container {
    margin: 30px 50px;
  }
}

@media(max-width: $small-screen) {
  .application-container {
    margin: 20px 30px;
  }
}

.simple-calendar {

  .day {
  }

  .wday-0 {}
  .wday-1 {
  }
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {
    background-color: white;
  }

  .has-events {}
}
